@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes rainbow-gradient {
  0% { background-position: 0% 50%; }
  100% { background-position: 200% 50%; } /* Double the width for seamless looping */
}

.rainbow-text {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-gradient 2s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1.5);
    background-color: #EF4444; /* Red */
  }
  /* 50% {
    transform: scale(1.5);
    background-color: #9b9797; Lighter red
  } */
  100% {
    transform: scale(1);
    background-color: rgb(55, 65, 81); /* gray-700 */
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}